table {
    border-collapse: collapse;
    width: 100%;
    padding: .5em;

}

th    {
    color: #fff;
    border: 1px solid #E98069;
    background-color: #E98069;
    text-align: center;
    padding: 8px;
}
td, tr {
    border: 1px solid #E98069;
    text-align: left;
    padding: 8px;
    
}
